<html lang='en'>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width = device-width, initial-scale = 1.0">
  <title> Review Sentiment Classifier </title>
</head>

<body>
  <h1> Write your review: </h1>
  <input type="text" id="reviewText">
  <button id="submitButton"> Submit </button>
  <div className="resultDiv">
    <h2> Prediction Result: </h2>
    <p id="resultBox"> </p>
  </div>

  <script>
    let text;

    const textData = document.getElementById("reviewText");
    const submitButton = document.getElementById("submitButton");
    const resultBox = document.getElementById("resultBox");

    submitButton.addEventListener('click', async () => {
      text = textData.value.trim();

      const formData = new FormData();
      formData.append("text", text);

      try {
        const response = await fetch('http://127.0.0.1:5000/', {
          method: "POST",
          body: formData,
        });
        if (response.ok) {
          const result = await response.json();
          resultBox.textContent = `${result.prediction}`;
        } else {
          alert(`Failed to upload text file. Status: ${response.status}`);
        }
      } catch (e) {
        console.error(e);
      }
      textData.value = "";
    })
  </script>
</body>

</html>